<h1>Listing users</h1>



<table>
  <thead>
  <tr>
    <th>Request Parameter</th>
    <th>Value</th>
 </tr>
  </thead>
  <tbody>
  <tr><td>Requested at </td><td><%= Time.zone.now.strftime("%I:%M%p   %m/%d/%Y") %></td></tr>
  <tr><td>Request orignal URL <i>was</i> </td><td><%= request.original_url %>
  <tr><td>Requesting IP <i>is</i>  </td><td><%= request.remote_ip()  %></td></tr>
  <tr><td>Remote IP </td><td><%= request.remote_ip()  %></td></tr>
  <tr><td>Http server <i>is</i> </td><td><%= request.server_software()  %></td></tr>
  <tr><td>Content header </td><td><%= request.content_type %></td></tr>
  <tr><td>UUID  </td><td><%= request.uuid()  %></td></tr>
  </tbody>
</table>
<br><br><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
